In [5]:
#Q1
#We use for loop when we know that the loop should execute n times and we use while loop for reading file into a variable.
#Example of for loop 
for i in range(10):
    print(i)
#Example of while loop
count = 0
while count <10:
    print(count)
    count = count +1

0
1
2
3
4
5
6
7
8
9
0
1
2
3
4
5
6
7
8
9

In [10]:
#Sum and product of the first 10 natural loops using for loop
sum =0
prod =1
for i in range(1,11):
    sum = sum +i
    prod =prod *i
print(sum)
print(prod)

#Sum and product of the first 10 natural loops using while loop
sum1=0
prod1=1
count= 1
while count <11:
    sum1= sum1+count
    prod1 = prod1 *count
    count = count +1
print(sum1)
print(prod1)

55
3628800
55
3628800

In [16]:
n = int(input("Enter the input"))
if n <=100 :
    print("The total electricity bill is ", n*4.5)
elif n >100 and n<=200:
    print("The total electricity bill is : ", 100 *4.5+(n-100)*6)
elif n >200 and n <=300:
    print("The total electricity bill is :",100*4.5 + 100*6+ (n-200)*10)
elif n >300:
    print("The total electricity bill is :",100*4.5 + 100*6+100*10+ (n-300)*20)

Enter the input 310

The total electricity bill is : 2250.0

In [23]:
l =list(range(101))
l1=[]
l2=[]
for i in l:
    l1.append(i**3)
print("The cube of the list is \n",l1)
for i in l1:
    if i %4 ==0 and i%5 ==0:
        l2.append(i)
print("\nThe list divisible by 4 and 5 is \n",l2)

The cube of the list is
 [0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000, 68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649, 125000, 132651, 140608, 148877, 157464, 166375, 175616, 185193, 195112, 205379, 216000, 226981, 238328, 250047, 262144, 274625, 287496, 300763, 314432, 328509, 343000, 357911, 373248, 389017, 405224, 421875, 438976, 456533, 474552, 493039, 512000, 531441, 551368, 571787, 592704, 614125, 636056, 658503, 681472, 704969, 729000, 753571, 778688, 804357, 830584, 857375, 884736, 912673, 941192, 970299, 1000000]

The list divisible by 4 and 5 is
 [0, 1000, 8000, 27000, 64000, 125000, 216000, 343000, 512000, 729000, 1000000]

In [33]:
count =0
s1 ="I want to become a data scientist"
for i in s1:
    if i == 'a'or i =='e'or i =='i'or i =='o'or i =='u':
        count = count +1
print("the numcount

11